#### 13 - Built-in Methods (Tuples), Tuples, Python sets

What are Sets

Set in python is atype of data structure that represent a collection of unique elements with no duplicate values.

1. set are represents as { }.
2. It can remove duplicate elements.
3.

In [ ]:
myset={1,2,3,4}
print(type(myset))
print(myset)

In [ ]:
set2={4,3,7,5,1,1,3,2,2,3,1}
print(set2)

1. Length is smaller.
2. All the duplicate elements are remove in sets
3. Ordered is not maintained and also it don't contain any duplicate.

In [ ]:
netflix={"Akash","Aneesha","Ali"}
print(netflix)

In [ ]:
netflix.add('Syed')
print(netflix)

see here syed is not added last of the set since sets are unordered

In [ ]:
set2={3,1,4,5,2}
print(set2)
print(id(set2))

In [ ]:
set3={1,3,2,[2,3]}
print(set3)

Hashable data types: int , float , str , tuple which are immutable datatype

In [ ]:
set3={1,2,'2'}
print(set3)

here 2 is number and '2' is string --> no duplicate

In [ ]:
print(len(set3))

In [ ]:
s1={1,2}
s1.update({3,5,6})
print(s1)

In [ ]:
# remove from the set need to mention item
s1={1,2,4,5,6}
s1.remove(2)
print(s1)

In [ ]:
#add the element in a set

s1.add(2)
print(s1)

In [ ]:
# add multiple elements in a set

s1.update({2,3,4,7})
print(s1)

In [ ]:
s1.pop()
print(s1)

In [ ]:
# comparing two set
s1={'a','c'}
s2={'c','a'}
print(s1==s2)

In [ ]:
s1={'a','c','d'}
s2={'c','a'}
print(s1>s2)

In [ ]:
s1={'a','c','d'}
s2={'c','a'}
print(s2>s1)

In [ ]:
#union 

s1={'a','b','z'}
s2={'a','c'}
s3=s1.union(s2)
print(s3)

In [ ]:
s1={'a','b','z'}
s2={'a','c'}
s3=s2.union(s1)
print(s3)

In [ ]:
s1={'a','b','z'}
s2={'a','c'}
s4={'r','p'}
s3=s1.union(s4)
print(s3)

In [ ]:
# Shortcut for union | pip symbol

s1={'a','b','z'}
s2={'a','c'}
s3=s1 | s2
print(s3)

In [ ]:
#intersection

s1={'a','b','z'}
s2={'a','c'}
print(s1.intersection(s2))

In [ ]:
s1={'a','b','z'}
s2={'a','c'}
s4={'r','p'}
print(s1.intersection(s2))
print(s1.intersection(s4))

In [ ]:
# shortcut for intersection is &

s1={'a','b','z'}
s2={'a','c'}
s4={'r','p'}
print(s1.intersection(s2))
print(s1.intersection(s4))
print(s1 & s2)

In [ ]:
#Difference or - symbol

s1={'a','b','z'}
s2={'a','c'}
s4={'r','p'}
print(s1.difference(s2))
print(s1.difference(s4))
print(s1- s2)

In [ ]:
s1={'a','b','z'}
s2={'a','c'}
s4={'r','p'}
print(s2.difference(s1))
print(s4.difference(s1))
print(s2- s1)

In [ ]:
# Symetric Difference ^ is shortcut

s1={'a','b','z'}
s2={'a','c'}
s4={'r','p'}
print(s1.symmetric_difference(s2))
print(s1.symmetric_difference(s4))
print(s1 ^ s2)
print(s2 ^ s4)

In [ ]:
#issubet

all_numbers={1,2,3,4,5,6,7,8,9,10}
prime_numbers = {2,3,5,7}
print(prime_numbers.issubset(all_numbers))

In [ ]:
all_numbers={1,2,3,4,5,6,7,8,9,10}
prime_numbers = {2,7,10}
print(prime_numbers.issubset(all_numbers))

In [ ]:
all_numbers={1,2,3,4,5,6,7,8,9,10}
prime_numbers = {0,7,10}
print(prime_numbers.issubset(all_numbers))
print(all_numbers.issuperset(prime_numbers))

In [ ]:
all_numbers={1,2,3,4,5,6,7,8,9,10}
prime_numbers = {1,7,10}
print(prime_numbers.issubset(all_numbers))
print(all_numbers.issuperset(prime_numbers))

In [ ]:
#clear

s3={1,2,3}
s3.clear()
print(s3)

In [ ]:
#update
s3={1,2,3}
s3.update([4,5])
print(s3)

In [ ]:
s3={1,2,3}
s3.update((4,5,6))
print(s3)

Q1.

Set Operation-1

Find both the difference of set A and B ie A- B and B- A and also the symmetric difference between the sets and print in the sorted order as a list

Hint:

Output:

1st line: A- B

2nd line: B- A

3rd line: symmetric difference between A and B



Input:

a s d g

g s f d

Output:

['a']

['f']

['a', 'f']

In [1]:
setA = set(input().split())
setB = set(input().split())
d1=setA-setB
d2=setB-setA
d3=setA.symmetric_difference(setB)
r1=sorted(list(d1))
r2=sorted(list(d2))
r3=sorted(list(d3))
print(r1)
print(r2)
print(r3)

a s d g
g s f d
['a']
['f']
['a', 'f']

In [2]:
setA = set(input().split())
setB = set(input().split())
d1=setA-setB
d2=setB-setA
d3=setA.symmetric_difference(setB)
print(sorted(list(d1)))
print(sorted(list(d2)))
print(sorted(list(d3)))

a s d g
g s f d
['a']
['f']
['a', 'f']

In [3]:
# What is the result of the following code?

my_set = {1, 2, 3}
my_set.add(4)
my_set.remove(2)
print(my_set)

{1, 3, 4}

In [4]:
# What is the output of the following code?


set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection(set2))

{3}

What happens when you try to create a set with duplicate values in Python?

A. The duplicates are automatically removed.

B. An error is thrown.

C. The duplicates are preserved.

D. None of the above

Assignment -2

Problem Statement

Take 2 sets as inputs and find

a. Union of the 2 given sets in sorted manner

b. Intersection of the sets in sorted manner

Input

1st line:space- separated values for the first set
    
2nd line: Space- separated values for the second set

Output

1st line: Union of the sets in sorted order as a list
    
2nd line : Intersection of the sets in sorted order as a list

Example : 
    
Input:
    
ksn fdsnjfdiof nwin

ksn wjfwei jwhjdiew


Output

['fdsnjfdiof', 'jwhjdiew', 'ksn', 'nwin', 'wjfwei']

['ksn']

In [8]:
s1=set(input().split())
s2=set(input().split())
print(sorted(list(s1.union(s2))))
print(sorted(list(s1.intersection(s2))))

ksn fdsnjfdiof nwin
ksn wjfwei jwhjdiew
['fdsnjfdiof', 'jwhjdiew', 'ksn', 'nwin', 'wjfwei']
['ksn']

In [9]:
a=set(input().split())
b=set(input().split())
print(sorted(list(a | b)))
print(sorted(list( a & b)))

ksn fdsnjfdiof nwin
ksn wjfwei jwhjdiew
['fdsnjfdiof', 'jwhjdiew', 'ksn', 'nwin', 'wjfwei']
['ksn']

Super set and difference

Problem Statement

Take two sets A, B, and print if A is a subset of B (True/False), find the difference of A from B and vice versa

Input

1st line: Set A

2nd line:Set B

Output

1st line: If A is a subset of B (True/False)

2nd line: Difference of set A from B in sorted order as a list

3rd line: If B is a subset of A (True/False)

4th line: Difference of set B from A in sorted order as a list

Input:
    
asd kjsd kjas

asd kjsd kjas jwe kujsac kjsab

Output:
    
True

[]

False

['jwe', 'kjsab', 'kujsac']

In [15]:
setA=set(input().split())
setB=set(input().split())
print(setA.issubset(setB))
print(sorted(list(setA.difference(setB))))
print(setB.issubset(setA))
print(sorted(list(setB.difference(setA))))

asd kjsd kjas
asd kjsd kjas jwe kujsac kjsab
True
[]
False
['jwe', 'kjsab', 'kujsac']

In [ ]:
a=set(input().split())
b=set(input().split())
print(a.issubset(b))
x=list(a-b)
x.sort()
print(x)
print(b.issubset(a))
x=list(b-a)
x.sort()
print(x)