In [1]:
s1={1,2,3}
print(s1)
s1.update({4,5,6,7})
print(s1)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}

In [2]:
for i in s1:
    print(i)

1
2
3
4
5
6
7

In [3]:
a={1,2,3}
b={3,4,5,6}
print(a-b)
print(b-a)

{1, 2}
{4, 5, 6}

In [4]:
print(a^b)

{1, 2, 4, 5, 6}

In [5]:
my_set={1,2,3,4,5}
my_list=list(my_set)
my_list.remove(5)
print(len(my_list))

4

In [6]:
my_list=[1,2,3,4,5]
my_set=set(my_list)
my_set.remove(5)
my_list = list(my_set)
my_list.append(5)
print(len(my_list))

5

In [7]:
#Python Dictionary

phonebook = {"John":"543-1234","Syed Imran":"1234-5432"}
print(phonebook)
print(type(phonebook))

{'John': '543-1234', 'Syed Imran': '1234-5432'}
<class 'dict'>

In [8]:
phonebook = {
    
               "John":"543-1234",
               "Syed Imran":"1234-5432"}

print(phonebook)

{'John': '543-1234', 'Syed Imran': '1234-5432'}

In [9]:
phonebook = {
    
               "John":["543-1234","2345-678"],
               "Syed Imran":"1234-5432"}

print(phonebook)

{'John': ['543-1234', '2345-678'], 'Syed Imran': '1234-5432'}

In [10]:
phonebook = {
    
               "John":("543-1234","2345-678"),
               "Syed Imran":"1234-5432"}

print(phonebook)

{'John': ('543-1234', '2345-678'), 'Syed Imran': '1234-5432'}

In [11]:
#overwrite if keys are same with new value

phonebook = {
    
               "John":("543-1234","2345-678"),
               "Syed Imran":"1234-5432",
               "John":"1234"
}

print(phonebook)

{'John': '1234', 'Syed Imran': '1234-5432'}

In [12]:
teacher= {
    "Name"       :"Syed Imran",
    "Age"        :35,
    "Subjects"   :["Python","Data Science"],
    "Department" :"Electronic & Communication Engg.",
    "Qualification":["Master in Engineering","Pursing Phd. in Data Science"],
    'rating':4.3
}
print(teacher)

{'Name': 'Syed Imran', 'Age': 35, 'Subjects': ['Python', 'Data Science'], 'Department': 'Electronic & Communication Engg.', 'Qualification': ['Master in Engineering', 'Pursing Phd. in Data Science'], 'rating': 4.3}

In [13]:
print(teacher['Name'])

Syed Imran

In [14]:
print(teacher['rating'])

4.3

In [15]:
teacher['rating']=5
print(teacher)

{'Name': 'Syed Imran', 'Age': 35, 'Subjects': ['Python', 'Data Science'], 'Department': 'Electronic & Communication Engg.', 'Qualification': ['Master in Engineering', 'Pursing Phd. in Data Science'], 'rating': 5}

In [16]:
teacher['newValue']="Python"
print(teacher)

{'Name': 'Syed Imran', 'Age': 35, 'Subjects': ['Python', 'Data Science'], 'Department': 'Electronic & Communication Engg.', 'Qualification': ['Master in Engineering', 'Pursing Phd. in Data Science'], 'rating': 5, 'newValue': 'Python'}

In [17]:
del teacher['newValue']
print(teacher)

{'Name': 'Syed Imran', 'Age': 35, 'Subjects': ['Python', 'Data Science'], 'Department': 'Electronic & Communication Engg.', 'Qualification': ['Master in Engineering', 'Pursing Phd. in Data Science'], 'rating': 5}

In [18]:
#key can be any hashable datatype

x=4
print(hash(x))

4

In [19]:
x='abc'   #string
print(hash(x))

-4944577650443685002

In [20]:
x=(1,2,3) #tuple
print(hash(x))

529344067295497451

In [21]:
x=[1,2,3]  #list  
print(hash(x))

TypeError: unhashable type: 'list'

so list is unhashable type

In [ ]:
x={1,2,3}  #sets 
print(hash(x))

can't create hash of sets

In [ ]:
x=True  #boolean values
print(hash(x))

In [ ]:
x=False
print(hash(x))

Note : which ever is hashable you can use it as key

In [ ]:
d={
    34:'abcdef',
    34.345:67,
    True:34.12,
    'dsf':23,
    (1,2,3):[1,2,3,4]
}
print(d)

Note : Left side --> only Hashable Datatype
       Right side --> any datatype

In [ ]:
d={
    34:'abcdef',
    34.345:67,
    True:34.12,
    'dsf':23,
    (1,2,3):[1,2,3,4],
    [1,2]:[2,3,4]
}
print(d)

In [ ]:
d={
    34:'abcdef',
    34.345:67,
    True:34.12,
    'dsf':23,
    (1,2,3):[1,2,3,4],
    {1,2,3}:34
}
print(d)

In [ ]:
d={
    34:'abcdef',
    34.345:67,
    True:34.12,
    'dsf':23,
    (1,2,3):[1,2,3,4],
    {1:"a",2:"b"}:3
}
print(d)

hash value is some thing which is constant

In [ ]:
x=(1,2)
y=(1,2)
print(id(x))
print(id(y))
print(hash(x))
print(hash(y))

In [ ]:
x=(1,2)
y=(2,1)
print(id(x))
print(id(y))
print(hash(x))
print(hash(y))

In [ ]:
x=(1,2)
y=(1,2)
print(id(x))
print(id(y))
print(hash(x))
print(hash(y))
print(x==y)

In [ ]:
dict1={"a":10,"b":2,"c":3}

str1=" "

for i in dict1:

    str1=str1+str(dict1[i])+" "

    print(str1)
    str2=str1[:-1]
    print(str2)

print(str2[::-1])

In [ ]:
dict={"lion":"wild","tiger":"wild","cat":"domestic","dog":"domestic"}

In [ ]:
del dict["tiger"]

In [ ]:
dict

In [ ]:
k=int(input())
v=int(input())
dict={}
for i in range(1,k+1):
    dict[i]=v-20
    v=v+10
print(dict)

In [ ]:
students ={
    'abc': {
           'grades': [89,90,80],
            'attendence':96
            },
      'Syed': {
          'grades':[89,78,90],
          'attendence':87
               }
    }
         
print(students)

In [ ]:
print(students['abc'])

In [ ]:
print(students['abc']['grades'])

In [ ]:
# or instead of single line i can use multiple line
x=students['abc']
y=x['grades']
print(y)

In [ ]:
from pprint import pprint
employees = {
         'Jone': {
             'age':30,
             'department' : 'Marketing'
                   },
          'Syed': {
             'age':35,
             'department' : 'IT'
                   },
          'David': {
             'age':37,
             'department' : 'HR'
                   }
    }
pprint(employees)

In [ ]:
from pprint import pprint
employees = [
              {
             'age':30,
             'department' : 'Marketing'
                   },
              {
             'age':35,
             'department' : 'IT'
                   },
                {
             'age':37,
             'department' : 'HR'
                   }
]
pprint(employees)

In [ ]:
import pprint
employees = {
         'Jone': {
             'age':30,
             'department' : 'Marketing'
                   },
          'Syed': {
             'age':35,
             'department' : 'IT'
                   },
          'David': {
             'age':37,
             'department' : 'HR'
                   }
    }
pprint.pprint(employees)

In [ ]:
import pprint
employees = {
         'Jone': {
             'age':30,
             'department' : 'Marketing'
                   },
          'Syed': {
             'age':35,
             'department' : 'IT'
                   },
          'David': {
             'age':37,
             'department' : 'HR'
                   }
    }
pprint.pprint(employees)
keys=employees.keys()
print(keys)

In [ ]:
values=employees.values()
print(values)

In [ ]:
#key values length
print(len(employees))

In [ ]:
items=employees.items()
print(items)

In [ ]:
for i in items:
    print(i)

In [ ]:
import pprint
employees = {
         'Jone': {
             'age':30,
             'department' : 'Marketing'
                   },
          'Syed': {
             'age':35,
             'department' : 'IT'
                   },
          'David': {
             'age':37,
             'department' : 'HR'
                   }
    }
pprint.pprint(employees)

In [ ]:
import pprint
employees = {
         'Jone': {
             'age':30,
             'department' : 'Marketing'
                   },
          'Syed': {
             'age':35,
             'department' : 'IT'
                   },
          'David': {
             'age':37,
             'department' : 'HR'
                   }
    }
pprint.pprint(employees)
print()

print(employees.get('Jone'))

In [ ]:
print(employees.get('Jone'))
print(employees['Jone'])

In [ ]:
print(employees.get('Jone1'))

In [ ]:
print(employees['Jone1'])

In [22]:
teacher= {
    "Name"       :"Syed Imran",
    "Age"        :35,
    "Subjects"   :["Python","Data Science"],
    "Department" :"Electronic & Communication Engg.",
    "Qualification":["Master in Engineering","Pursing Phd. in Data Science"],
    'rating':4.3
}
print(teacher)

{'Name': 'Syed Imran', 'Age': 35, 'Subjects': ['Python', 'Data Science'], 'Department': 'Electronic & Communication Engg.', 'Qualification': ['Master in Engineering', 'Pursing Phd. in Data Science'], 'rating': 4.3}

In [23]:
keys=list(teacher.keys())
i=0
while i < len(keys):
    print(teacher[keys[i]])
    i=i+1

Syed Imran
35
['Python', 'Data Science']
Electronic & Communication Engg.
['Master in Engineering', 'Pursing Phd. in Data Science']
4.3

In [24]:
result=teacher.pop('rating')
print(teacher)
print(result)

{'Name': 'Syed Imran', 'Age': 35, 'Subjects': ['Python', 'Data Science'], 'Department': 'Electronic & Communication Engg.', 'Qualification': ['Master in Engineering', 'Pursing Phd. in Data Science']}
4.3

In [25]:
result=teacher.pop('abc','Not Avaiable')
print(teacher)
print(result)

{'Name': 'Syed Imran', 'Age': 35, 'Subjects': ['Python', 'Data Science'], 'Department': 'Electronic & Communication Engg.', 'Qualification': ['Master in Engineering', 'Pursing Phd. in Data Science']}
Not Avaiable

In [27]:
teacher.clear()
print(teacher)

{}

In [28]:
color = [('Red',1),('Blue',2),('Green',3)]
d=dict(color)
print(d)

{'Red': 1, 'Blue': 2, 'Green': 3}

In [29]:
color = [('Red',1),('Blue',2),('Green')]
d=dict(color)
print(d)

ValueError: dictionary update sequence element #2 has length 5; 2 is required

In [30]:
l1=[1,2,3,4]
l2=['a','b','c','d']
d=zip(l1,l2)
print(dict(d))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [31]:
l1=[1,2,3,4,5,6,7,8]
l2=['a','b','c','d']
d=zip(l1,l2)
print(dict(d))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [33]:
from itertools import zip_longest
l1=[1,2,3,4,5,6,7,8]
l2=['a','b','c','d']
d=zip_longest(l1,l2)
print(dict(d))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: None, 6: None, 7: None, 8: None}

In [35]:
d1={1:'a',2:'b'}
d2={3:'c',4:'d'}
d1.update(d2)
print(d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [38]:
l1=[1,2,3,4,5,6,7,8]
l2=['a','b','c','d']
d=zip(l1,l2)
print(list(d))
for i in d:
    print(i)
print(dict(d))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
{}

Assignment -1

Problem Statement

Write a program to add a key to a dictionary.

The original dictionary has a structure as {0: 10, 1: 20}. Update the key value of 1.

Input

The first line contains the key value to be updated with.

Constraints:
    
-100000<=n<=100000

Output

Prints the dictionary with the updated value.

Sample Input:

35

Sample Output:

{0: 10, 1: 35}

In [39]:
a={0: 10, 1: 20}
a.update({1:int(input())})
print(a)

35
{0: 10, 1: 35}

Assignment -2

Max Min of Dictionary


Problem Statement

Write a program to get the maximum and minimum value in a dictionary( Given values are of int data type).

Example:

my_dict = {'x':500, 'y':5874, 'z': 560}

Maximum Value: 5874

Minimum Value: 500
    
Input

The first line contains the value of x, the second line contains the value of y, and the third line contains the value of z.

Constraints:
    
-100000<=n<=100000

Output

Prints the output in the following format:

Maximum Value: max_val

Minimum Value: min_val

In [44]:
my_dict={}
my_dict['x']=int(input())
my_dict['y']=int(input())
my_dict['z']=int(input())
print('Maximum Value :',max(my_dict.values()))
print('Minimum Value:',min(my_dict.values()))

500
5874
560
Maximum Value : 5874
Minimum Value: 500

Quiz

What will be the output of following Python code?


dict1={"a":10,"b":2,"c":3}

str1=""

for i in dict1:

    str1=str1+str(dict1[i])+" "

    str2=str1[:-1]

print(str2[::-1])

A. 3, 2
B. 3, 2, 10
C. 3, 2, 01 correct
D. Error

Which function is used for iterating over the (key, value) pairs?

A iterrows()
B iteritems()  correct
C itertuples()
D All of the abov

Which of the following is False regarding dictionary in Python?

A Values of a dictionary can be string,integers or combination of both.
B Keys of a dictionary can be string,integers or combination of both
C The value of a dictionary can be accessed with the help of indices.
D None of the above


What will be the output of above Python code?

d1={"abc":5,"def":6,"ghi":7}

print(d1[0])

A abc
B 5
C {"abc":5} 
D Error correct

Which of the following will delete key_value pair for key="tiger" in dictionary?

dict={"lion":"wild","tiger":"wild","cat":"domestic","dog":"domestic"}

A del dic["tiger"]
B dic["tiger"].delete()
C delete(dic.["tiger"])
D del(dic.["tiger"])

Assignment 3

Problem Statement

user would enter a word, using a python dictionary count the number of times each used alphabet is appearing in the word, and print the resulting dictionary.
the dictionary should be ordered in the same sequence as typed by the user

Input

stats

Output

{'s': 2, 't': 2, 'a': 1}

In [46]:
text = input()
dict = {}
for t in text:
    dict[t] = text.count(t)
print(dict)

stats
{'s': 2, 't': 2, 'a': 1}

Assignment 4

Concat dictionary

Problem Statement

Write a program to concatenate the following dictionaries to create a new one.

Sample Dictionary :

dic1={1:10, 2:20}
dic2={key:value}

Expected Result : {1: 10, 2: 20, key: value}

Input

The first line contains the key, the second line contains the value.

Constraints:
    
-100000<=k<=100000
-100000<=v<=100000

Output

Prints the concatenated dictionary.

Sample Input:

3
30

Sample Ouput:

{1: 10, 2: 20, 3: 30}

In [48]:
k=int(input())
v=int(input())
dic1={1:10, 2:20}
dic2={k:v}
dic1.update(dic2)
print(dic1)

3
30
{1: 10, 2: 20, 3: 30}

###